.btn-primary {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 36px;
  padding-right: 36px;
  background-color: #FFEB3B;
  color: #795548;
  font-size: 48px;
}

.btn {
  height: 80px;
  width: 80px;
  border-style: solid;
  border-color: #795548;
  border-width: 4px;
  margin: -5px;
  padding-right: -6px;
  font-size: 50px;
  background-color: #FFEB3B;
}

.game-container {
  background-color: #795548;
  width: 250px;
  margin: auto;
  padding-bottom: 18px;
  padding-top: 16px;
  border-radius: 1em;
}

.tic {
  color: transparent;
}

h4 {
  margin-top: 3px;
  margin-bottom: 6px;
  color: #00BCD4;
  font-size: 28px;
  height: 64px;
  border-color: #00BCD4;
  border-style: solid;
  margin-right: 16px;
  margin-left: 16px;
}